@charset "UTF-8";

.pp {
	background:green;
	color: red;
	font-size: 30;
	font-family: 黑体，宋体;
	font-style: italic;
	font-variant: samll-cups;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: overline;
}

.p1 {
	color: green;
	font-size: 50px;
	font-family: 隶书，黑体，宋体;
	font-style: oblique;
	font-variant: normal;
	font-weight: lighter;
	text-transform: capitalize;
	text-decoration: line-through;
}

.p2 {
	font:40px italic bolder;
	color: yellow;
}
.p3 {
	font:40px italic bolder;
	color: yellow;
	letter-spacing:900;
}
