@charset "UTF-8";

/* before使用绝对位置将之前的覆盖，再设置背景色，即可  */
p::before{
	position:absolute;
	background:blue;
	content: "如果你能看到这句话，说明设置成功了";
}

/* after使用需要用绝对位置，将之前的覆盖，在设置背景色，另外left为０*/
span::after{
	left:0;
	position:absolute;
	background: red;
	content:"如果你能看到这句话说明，设置成功了！！！"
	
}
