@charset "UTF-8";
span,h2{
	color:green;
	font-size:50px;
	font-family:楷体
}

}

.p1{
	color:green;
	font-size:30px;
	font-family:隶书；
}

p.p2{
	color:red;
	font-size: 40px;
}
#p1{
	color:green;
	font-size:60px;
	font-family:隶书；
}

p#p2{
	color:red;
	font-size: 40px;
}

p i{
	color: red;
}
